<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description or subtitle }}">
    <title>{{ title }} / {{ site_name }}</title>
    <link rel="stylesheet" href="{{ theme:css src="main" }}">
    <link href="https://fonts.googleapis.com/css?family=Ultra|Unica+One|Volkhov" rel="stylesheet">
</head>
<body class="font-serif bg-white leading-normal text-lg text-grey-darker antialiased bg-fixed {{ body_class }}" style="background-image: url('{{ site_background_image }}')">

    {{ partial:nav }}

    {{ template_content }}

    {{ partial:footer }}
</body>
</html>
