<div class="px-2 lg:px-5">
    {{ collection:articles taxonomy="true" }}
    <a class="content block mb-5 max-w-2xl mx-auto" href="{{ url }}">
        <div class="bg-grey-darker text-white h-screen-sans-nav relative rounded lg:rounded-lg shadow-lg overflow-hidden" style="background-color: {{ background_color }}">
            <img src="{{ background_image }}" alt="" class="mix-{{ blend_mode }} pin absolute opacity-50 fit h-full w-full">
            <div class="absolute h-full w-full z-10 flex items-center text-center">
                <div class="flex-1 p-3">
                    <h6 class="font-subheading mb-2 text-lg opacity-50 tracking-wide">{{ date }}</h6>
                    <h1 class="leading-none mb-4">{{ title }}</h1>
                    <h2 class="font-subheading text-4xl">{{ subtitle }}</h2>
                </div>
            </div>
            <p class="absolute pin-b pin-l pin-r m-3 w-full text-center opacity-50 font-subheading">{{ topics | sentence_list }}</p>
        </div>
    </a>aergaegaergearger
    {{ /collection:articles }}
</div>
